<a
  class="relative text-sm duration-300 cursor-pointer group fade-in lg:-20"
  (click)="goToSoonaverseNft()"
>
  <div
    class="w-full relative fade-in lg:group-hover:scale-[1.01] duration-300 rounded-xl aspect-w-1 aspect-h-1 overflow-hidden bg-gray-100"
    style="aspect-ratio: 1/1"
  >
    <div class="absolute z-50 w-full h-full bg-white opacity-0"></div>
    <div class="absolute z-50 w-full h-full bg-white opacity-0 animate-flash-once"></div>
    <img
      class="absolute object-cover object-center w-full h-full duration-300"
      [src]="medSizeImg(nft?.media)"
      alt="Colors"
    />
  </div>
  <p class="mt-3 font-mono text-xs tracking-widest text-center uppercase opacity-50">
    {{ nft?.name }}
  </p>
  <h3 class="pb-2 -mt-1 text-xs tracking-wider text-center uppercase font-600">
    {{ nft?.availablePrice | unitFormat : nft?.mintingData?.network }}
  </h3>
</a>

<!-- <div
  class="max-w-sm px-6 pt-6 pb-2 transition duration-500 transform bg-white shadow-lg rounded-xl hover:scale-105"
>
  <h3 class="mb-3 text-xl font-bold text-indigo-600">{{ nft?.name }}</h3>
  <div class="relative">
    <img class="w-full rounded-xl" [src]="medSizeImg(nft?.media)" alt="Colors" />
    <p
      class="absolute top-0 px-3 py-1 font-semibold text-gray-800 bg-yellow-300 rounded-tl-lg rounded-br-lg"
    >
      {{ nft?.availablePrice | unitFormat : nft?.mintingData?.network }}
    </p>
  </div>
  <h1 class="mt-4 text-sm font-bold text-gray-800 cursor-pointer">{{ nft?.description }}</h1>
  <div class="my-4">
    <div class="flex items-center space-x-1">
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-indigo-600 mb-1.5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </span>
      <p>
        {{ nft?.totalTrades }} <span *ngIf="nft?.totalTrades === 1">trade</span
        ><span *ngIf="(nft?.totalTrades || 0) > 1">trades</span>
      </p>
    </div>
    <button
      class="w-full py-2 mt-4 text-xl text-white bg-indigo-600 shadow-lg rounded-xl"
      (click)="goToSoonaverseNft()"
    >
      Buy Now
    </button>
  </div>
</div> -->
