<a
  class="relative text-sm duration-300 cursor-pointer group fade-in lg:-20" (click)="toggleModal()"
>
  <div
    class="w-full relative fade-in lg:group-hover:scale-[1.01] duration-300 rounded-xl aspect-w-1 aspect-h-1 overflow-hidden bg-gray-100"
    style="aspect-ratio: 1/1"
  >
    <div class="absolute z-30 w-full h-full bg-white opacity-0"></div>
    <div class="absolute z-30 w-full h-full bg-white opacity-0 animate-flash-once"></div>
    <img
      class="absolute object-cover object-center w-full h-full duration-300"
      [src]="medSizeImg(nft?.media)"
      alt="Colors"
    />
  </div>
  <p class="mt-3 font-mono text-xs tracking-widest text-center uppercase opacity-50">
    {{ nft?.name }}
  </p>
  <h3 class="pb-2 -mt-1 text-xs tracking-wider text-center uppercase font-600">
    {{ nft?.availablePrice | unitFormat : nft?.mintingData?.network }}
  </h3>
</a>

<div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none">
  <div class="relative w-auto max-w-3xl mx-auto my-6">
    <!--content-->
    <div class="relative flex flex-col w-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid rounded-t border-slate-200">
        <h3 class="text-3xl font-semibold">
          {{ nft?.name }}
        </h3>
        <button class="float-right p-1 ml-auto text-3xl font-semibold leading-none text-black bg-transparent border-0 outline-none opacity-5 focus:outline-none" (click)="toggleModal()">
          <span class="block w-6 h-6 text-2xl text-black bg-transparent outline-none opacity-5 focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative flex-auto p-6">
        <img class="w-full rounded-xl" [src]="medSizeImg(nft?.media)" alt="Colors" />
        <p class="my-4 text-lg leading-relaxed text-slate-500">
          {{ nft?.description }}
        </p>
        <p class="my-4 text-lg leading-relaxed text-slate-500">
          {{ nft?.availablePrice | unitFormat : nft?.mintingData?.network }}
        </p>
        <p class="my-4 text-lg leading-relaxed text-slate-500">
          {{ nft?.totalTrades }} <span *ngIf="nft?.totalTrades === 1">trade</span
          ><span *ngIf="(nft?.totalTrades || 0) > 1">trades</span>
        </p>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid rounded-b border-slate-200">
        <button class="px-6 py-2 mb-1 mr-1 text-sm font-bold text-red-500 uppercase transition-all duration-150 ease-linear outline-none background-transparent focus:outline-none" type="button" (click)="toggleModal()">
          Close
        </button>
        <button class="px-6 py-3 mb-1 mr-1 text-sm font-bold text-white uppercase transition-all duration-150 ease-linear rounded shadow outline-none bg-emerald-500 active:bg-emerald-600 hover:shadow-lg focus:outline-none" type="button" (click)="goToSoonaverseNft()">
          Go to Soonaverse
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-black opacity-25"></div>
