<div class="fixed top-0 z-40 w-full px-4 pt-5 lg:px-8 lg:pt-8">
  <div class="flex items-center justify-between h-full mx-auto border-b border-black border-opacity-0 max-w-screen-2xl">
    <div class="flex-shrink-[5] mr-2">
      <img class="max-h-6"
        src="https://images.soonaverse.com/0xbb0f0e6973139e1bd7c0b101274afb79db21a416/4gxv4kmbf8f/token_icon_jpeg_200X200.webp" />
    </div>
    <div class="items-center hidden min-w-0 lg:flex">
      <ul class="flex min-w-0 space-x-2">
        <li>
          <a
            class="bg-black opacity-80 hover:bg-opacity-10 bg-opacity-[.03] items-center relative h-7 font-mono tracking-wider pt-0.5 first::pt-0 uppercase text-xs font-500 duration-200 px-4 rounded flex justify-center flex-row">
            Go to Soonaverse</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="min-h-screen text-black duration-300 bg-white">
  <router-outlet></router-outlet>
</div>
<!-- backdrop for modal -->
<div class="z-40"></div>
